.footer {
  text-align: center;
  padding: 1.5rem;
  background-color: white;
  border-top: 1px solid #385ba1;
  color: #404f6f;
  font-size: 0.875rem;
  margin-top: auto;
  position: fixed;
  bottom: 0px;
}